.sort_item{
    font-size: 17px;
    font-family:"Lucida Console";
    padding: 5px;
}

.my_single{
    
    padding: 20px;
}

.user_name{
    font-size: 17px; 
    opacity: 0.7;
    margin: 17px;
}

.text_style{
    font-family: 'Courier New', Courier, monospace;
}